[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git